version: "3.9"

services:
  db:
    image: postgres:${POSTGRES_VERSION}
    container_name: scrapy_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  scrapy:
    build: .
    container_name: scrapy_app
    command: scrapy crawl autoria
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app

volumes:
  postgres_data:
